<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="/vendor/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vendor/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">
        <link href="/vendor/custom-file-input/component.css" rel="stylesheet">
        <link href="/syles.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
        <![endif]-->
    </head>
    <body>
        {% include '_header.html.twig' %}

        <div class="container">
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="bg-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="bg-success">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        <script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
        <script src="/vendor/bootstrap-3.3.6/js/bootstrap.min.js"></script>
        <script src="/vendor/custom-file-input/jquery.custom-file-input.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
